<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zandy Pizzas</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
    <header class="navbar">
        <div class=" container flex">
            <h2>Zandy Pizzas</h2>
            <nav>
                <ul>
                    <li class="current"><a href="/">Home</a></li>
                    <li><a href="/orders">Orders</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="showcase-pizza">
      <div class="container flex info">
        <div class="flex-item small-pizza">
          <div class="pizza-pic">
            <img src="pizza.png" alt="">
            <h2>Small Pizza</h2>
          </div>

          <div class="pizza-info">
            <h3>R<span>31.99</span></h3>
            <ul>
              <li>small margeritha pizza with 3 toppings</li>
              <li>1 meat topping.</li>
              <li>3 or less other toppings.</li>
            </ul>

            <a href="/buy/small" name="pizzaType" value="small" class="buyBtn">Buy Pizza</a>
          </div>
        </div>

        <div class="flex-item medium-pizza">
          <div class="pizza-pic">
            <img src="pizza.png" alt="">
            <h2>Medium Pizza</h2>
          </div>

          <div class="pizza-info">
            <h3>R<span>58.99</span></h3>
            <ul>
              <li>medium margeritha pizza with 3 toppings max.</li>
              <li>2 or less meat topping.</li>
              <li>3 or less other toppings.</li>
            </ul>

            <a href="/buy/medium" name="pizzaType" value="medium" class="buyBtn">Buy Pizza</a>
          </div>
        </div>

        <div class="flex-item large-pizza">
          <div class="pizza-pic">
            <img src="pizza.png" alt="">
            <h2>Large Pizza</h2>
          </div>

          <div class="pizza-info">
            <h3>R<span>87.99</span></h3>
            <ul>
              <li>large margeritha pizza with 3 toppings max.</li>
              <li>2 or less meat topping.</li>
              <li>3 meat toppings max.</li>
            </ul>

            <a href="/buy/large" name="pizzaType" value="large" class="buyBtn">Buy Pizza</a>   
          </div>
        </div>

      </div>
    </section>

    <section class="showcase-cart">
      <div class="container pizza-cart">
        <h3>Shopping Cart</h3>
        
        <form action="/order" method="post">
           <div class="flex small-text">
              <div class="text">
                <h4>Small:</h4>
              </div>
              <div class="units">
                <h4><span class="unitText">{{costs.strSmallUnit}}</span>Unit(s)</h4>
              </div>
              <div class="prices">
                <h4>R<span class="unitText">{{costs.strSmall}}</span></h4>
              </div>
          </div>

          <div class="flex medium-text">
            <div class="text">
              <h4>Medium:</h4>
            </div>
            <div class="units">
              <h4><span class="unitText">{{costs.strMediumUnit}}</span>Unit(s)</h4>
            </div>
            <div class="prices">
              <h4>R<span class="unitText">{{costs.strMedium}}</span></h4>
            </div>
          </div>

          <div class="flex large-text">
            <div class="text">
              <h4>Large:</h4>
            </div>
            <div class="units">
              <h4><span class="unitText">{{costs.strLargeUnit}}</span>Unit(s)</h4>
            </div>
            <div class="prices">
              <h4>R<span class="unitText">{{costs.strLarge}}</span></h4>
            </div>
          </div>

          <div class="flex total-text">
            <div class="text">
              <h4>Total cost:</h4>
            </div>
            <div class="units">
              <h4><span class="unitText">{{totals.totalUnit}}</span>Unit(s)</h4>
            </div>
            <div class="prices">
              <h4>R<span class="unitText">{{totals.totalCost}}</span></h4>
            </div>
          </div>

          <div class="orderBtn">
            <form action="/order" method="POST">
              <button class="btn" type="submit" name="button">Order</button>
            </form>
          </div>
        </form>

       

      </div>
    </section>
  
</body>
</html>